* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #e8eaf0;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr 3rem;
  background-color: #12141bff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem 0rem;
}

header > h1 {
  margin-bottom: 0.5em;
}

section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3rem 0rem 2rem;
}

.btnsModels {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 200px;
  width: 400px;
  background-color: #1b1f2aff;
  border-radius: 8px;
  border: 1px solid #2c313d;
  font-size: 18px;
  cursor: pointer;
}

.btnsModels:hover {
  border: none;
  background:
    linear-gradient(#1b1f2aff, #1b1f2aff) padding-box,
    linear-gradient(90deg, rgba(58, 160, 230, 1) 0%, rgba(240, 144, 47, 1) 100%)
      border-box;
  border-radius: 8px;
  border: 1px solid transparent;
}

.btnsModels > h3 {
  margin-bottom: 0.5rem;
}

#form,
#containerResult {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #1b1f2aff;
  border-radius: 8px;
  border: 1px solid #2c313d;
  font-size: 16px;
  height: fit-content;
  padding: 2rem 4rem;
  gap: 1rem;
}

#params {
  background-color: #1b1f2aff;
  height: 300px;
  resize: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid #2c313d;
  padding: 1rem;
  width: 93%;
}

.btnPredict {
  background-color: #4cc38aff;
  color: #1b1f2aff;
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #4cc38aff;
}

.btnPredict:hover {
  border: none;
  border: 1px solid #4cc38aff;
  background-color: #1b1f2aff;
  color: #4cc38aff;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid #2c313d;
  color: #8891a3 !important;
  text-align: center;
}

.circle,
.chiikawa {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  opacity: 0.35;
  filter: opacity(50%);
}

.circle {
  border-radius: 50%;
}
.chiikawa {
  background-image: linear-gradient(to right, #f0902f, #3aa0e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: none !important;
}

.circleBlue {
  width: 480px;
  height: 420px;
  top: 25px;
  left: -80px;
  background: #3aa0e6;
}
.circleOrange2 {
  width: 340px;
  height: 320px;
  top: 250px;
  left: -80px;
  background: #f0902f;
}

.circleOrange {
  width: 380px;
  height: 380px;
  right: -130px;
  bottom: 0px;
  background: #f0902f;
}
